body {
    font-family:sans-serif;
}

button {
    padding: 2vw;
    font-size: 2vw;
    user-select: none;
}

input {
    width: 9em;
    height: 2em;
    font-size: 1em;
    text-align: center;
}

.button {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    margin: auto;
    max-width: 80%;
    row-gap: 0;
}

.currentTurnBar {
    display: flex;
    font-size: 4vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    user-select: none;
    color: black;
    justify-content: center;
}

.cell {
    user-select: none;
    transition: background-color 0.1s ease, opacity 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}

.cell:hover:not(.winningCell) {
    background-color: rgb(171, 241, 181);
}

.cell:hover:not(:empty):not(.winningCell){
    background-color: lightgrey;
}   

.stop-hover {
    pointer-events: none;
}

.winningCell {
    background-color: rgb(229, 240, 83);
}
