.board {
    display: grid;
    margin: auto;
    max-width: 80%;
    
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    border: 0.001vw solid black;
    aspect-ratio: 1 / 1;
}



